/* reset margin and padding */
body {
    margin: 0 !important;
    padding: 0 !important;
}

/* tại sao dùng div để hiển thị ảnh  
mấy cái background-image các thứ là nó đùng để sửa div chứ thẻ img ko có những 
thuộc tính đó cho nên dùng div hiển thị ảnh nó dễ chỉnh hơn nhiều
*/
.red {
    border: 1px solid red;
}

.green {
    border: 1px solid green;
}

.banner {
    height: 500px;
    background: url("./banner.jpg") center center no-repeat;
    padding: 20px;

    .about-sign-in {
        height: 80px;
        width: 100%;
        text-align: right;

        .about,
        .sign-in {
            text-decoration: none;
            /* float: right; ở đây thứ tự bị tráo đổi do viết trước viết sau */
            padding: 7px 15px;
            margin-top: 42px;
            display: inline-block;
            text-transform: uppercase;

        }

        .sign-in {
            margin-right: 60px;
            margin-left: 25px;
            border: 1px solid green;
            border-radius: 20px;
            color: green;
        }
    }

    .logo {
        margin-top: 40px;
        height: 100px;
        background: url("./hapoERP.png") center center no-repeat;
    }

    .content-center {

        .left,
        .center,
        .right {
            margin-top: 20px;
            margin-bottom: 20px;
            display: inline-block;
            width: 33%;
            text-align: center;
        }

        span {
            display: block;
            font-size: 20px;
        }

        img {
            height: 30px;
            width: 30px;
        }
    }

    .text {
        margin-top: 30px;
        text-align: center;

        span {
            color: green;
        }
    }

    .btn-start-now {
        text-align: center;

        button {
            text-transform: uppercase;
            padding: 10px 15px;
            border: 1px solid green;
            border-radius: 20px;
            margin-top: 20px;
            cursor: pointer;
        }
    }

}